@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.story-div {
  width: 100vw;
  height: 80vh;
  background-color: black;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
}
.info-story-div {
  width: 90vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 2rem;
}
.story-div h2 {
  text-align: center;
  font-size: 3rem;
  padding-top: 1rem;
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  margin-top: 1rem;
  font-style: normal;
  color: #ffc107;
}
.left {
  width: 60%;
  left: 1rem;
  display: flex;
  flex-direction: column !important;
  position: relative;
  justify-content: flex-start !important;
  align-items: center;
}
.left p {
  font-size: 1rem;
  color: white;
  text-align: left !important;
}
.right img {
  width: 300px;
  height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 10px;
  padding-bottom: 1rem;
  transition: 0.5s all;
}
.right img:hover {
  box-shadow: 11px 8px 19px rgba(235, 216, 47, 0.558);
}
@media only screen and (max-width: 600px) {
  .story-div {
    min-height: 150vh;
    flex-direction: column;
  }
  .info-story-div {
    width: 90vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    gap: 0.5rem;
    padding: 0;
  }
  .info-story-div h2 {
    font-size: 0.5rem;
  }
  .right img {
    width: 200px;
    height: 300px;
    background-position: center;
    border-radius: 10px;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }
  .left {
    width: 60%;
    left: 1rem;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: flex-start !important;
    align-items: center;
  }
  .left p {
    font-size: 0.6rem;
    color: white;
  }
}
