.navbar {
  width: 100vw;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* background: linear-gradient(rgba(0, 0, 0, 0.418), rgba(0, 0, 0, 0.929)); */
}
.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 12px;
}
.navbar ul li {
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}
.navbar ul li:hover {
  color: #fff;
}
.navbar img {
  width: 100vw;
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
}
