.navbar {
  width: 100vw;
  height: 45px;
  position: fixed;
  display: flex;
  align-items: center;
  background: linear-gradient(rgba(64, 64, 64, 0.913), rgba(157, 157, 160, 0.312));

  justify-content: space-around;
  /* background: linear-gradient(rgba(0, 0, 0, 0.418), rgba(0, 0, 0, 0.929)); */
}
.navbar h2{
  color: #E8E8E8;
}
.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
  /* padding-top: 1rem; */

}
.navbar ul li a{
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
  color: #E8E8E8;
}
.navbar ul a{
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
  color: #E8E8E8;
}
.navbar ul li a:hover {
  color: #ffc107;
}
.navbar img {
  width: 100px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
}
